 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-lg-offset-2">
                  <img src="img/hutch.jpg"class="img-responsive">
              </div>
              <div class="col-lg-4">
                  <p>I am a front end web developer currently located in San Francisco, California. I've worked for various companies in the Bay Area: <a href="https://cs.thomsonreuters.com/web-builder/" target="_blank">Thomson Reuters CS (formerly E.mochila)</a>, <a href="http://mindjet.com" target="_blank">Mindjet</a>, <a href="http://ooma.com" target="_blank">Ooma</a>, and currently at <a href="http://viator.com" target="_blank">Viator</a>.</p>

                  <p>
                  You can also find me at local dog parks or hiking trails with my german shepherd mix dog, Hutch.</p>
              </div>
              </div>
                </div>
            </div>
        </div>
    </section>
